<!DOCTYPE html>
   <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>{{ title }}</title>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
            <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.min.js"></script>
            <script src= "{{ url_for('static',filename='scripts/app.js') }}"></script>
            <script src= "{{ url_for('static',filename='scripts/config.js') }}"></script>
            <script src= "{{ url_for('static',filename='scripts/MapController.js') }}"></script>
            <script src= "{{ url_for('static',filename='scripts/AppController.js') }}"></script>
            <script src= "{{ url_for('static',filename='scripts/ledService.js') }}"></script>
            <script src= "{{ url_for('static',filename='scripts/driveService.js') }}"></script>
   </head>

   <body class="container" ng-app="app" ng-controller="AppController as appCtrl">
       <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/test">Test</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <h2>The date and time on the server is: {{ time }}</h2>
      <h3 ng-bind="appCtrl.requestedData"></h3>
      <div class="container">
        <h2>What can the pi see?</h2>
        <iframe src="http://192.168.1.73:2222/html/min.php" frameborder="0" class="iframe"></iframe>
      </div>
      <!--new section for powering motors-->
      <div>
        <h1 class="{{heading}}">Pi Motors</h1>
        <div class="row">
            <button class="btn" ng-click="appCtrl.driveForwards()">{{ forwards }}</button>
            <button class="btn" ng-click="appCtrl.diveData()">{{ backwards }}</button>
        </div>
      </div>
      <div class="row">
          <h2 class="jumbotron">Pi Test Light</h2>
          <button class="btn btn-primary" ng-click="appCtrl.getData('blue')">blue led test</button>
      </div>

      <leaflet width="100%" height="480px"></leaflet>
      <h1>First steps, basic example</h1>
      <main>
        <div ng-view></div>
      </main>
   </body>
   <!--CDNS-->
</html>