<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>{{ title }}</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-leaflet-directive/0.10.0/angular-leaflet-directive.min.js"></script>
        <script src= "{{ url_for('static',filename='scripts/app.js') }}"></script>
        <script src= "{{ url_for('static',filename='scripts/config.js') }}"></script>
        <script src= "{{ url_for('static',filename='scripts/MapController.js') }}"></script>
        <script src= "{{ url_for('static',filename='scripts/AppController.js') }}"></script>
        <script src= "{{ url_for('static',filename='scripts/ledService.js') }}"></script>
        <script src= "{{ url_for('static',filename='scripts/driveService.js') }}"></script>
    </head>
    <body ng-app="app" ng-controller="MapController as mapCtrl">
        <leaflet lf-center="exeter" width="100%" height="100%"></leaflet>
    </body>
</html>
